##
# IDE ignore files.
#
/.buildpath
/.project
/.settings
*.swp
*~



##
# 3rd parties
#
# Composer
/composer.lock
/composer.phar
/vendor
# Display Service
/displayService.phar
/conf/config.yml
# sGallery
/sgallery.properties



##
# Build
#
build.properties
/build



