<div class="topbar">
	<div class="container">
		<a href="/"><img class="logo" src="/images/logo.png" style="float: left; width: 300px" /></a>
		<ul class="navigation" style="float: left; width: 500px">
			<!--
			<li><a class="navigation--link" href="#">Oferta</a></li>
			 -->
			<li><a class="navigation--link navigation--active" href="/albums">Realizacje</a></li>
			<li><a class="navigation--link" href="#">Kontakt</a></li>
			<!--
			<li><a class="navigation--link" href="#">Inspiracje</a></li>
			<li><a class="navigation--link" href="#">Referencje</a></li>
			 -->
		</ul>
		<!--
		<ul class="navigation navigation--sub" style="float: left; width: 500px">
			{{#slugs}}
			<li class="{{class}}">
				{{# href }}<a class="navigation--link" href="/albums{{ href }}">{{/href}}
					{{ text }}
				{{# href }}</a> <span class="divider">/</span>{{/href}}
			</li>
			{{/slugs}}
		</ul>
		-->
	</div>
</div>

<div id="album" class="">

	<div class="container">
		<div class="columns">
			<div class="column">
				<h2>{{ name }}</h2>
				<p class="lead">{{ meta }}</p>
			</div>
		</div>
	</div>

	{{#has_albums}}
	<div class="columns gallery"><!--
		{{#albums}}
		--><div class="column one-fourth">
			<div class="gallery-item">
				<a href="/albums/{{ slug }}"><img src="{{ cover }}" /></a>
				<h4>{{ name }}</h4>
			</div>
		</div><!--
		{{/albums}}
	--></div>
	{{/has_albums}}

	{{#has_photos}}
	<div class="columns gallery">
		<ul id="photos" class="gallery--ul"></ul>
		<div class="well" style="display:none;">
			<span>Loading...</span>
		</div>
	</div>
	{{/has_photos}}
</div>
