<div class="topbar">
	<ul class="breadcrumb">
		{{#slugs}}
		<li class="{{class}}">
			{{# href }}<a href="/albums{{ href }}">{{/href}}
				{{ text }}
			{{# href }}</a> <span class="divider">/</span>{{/href}}
		</li>
		{{/slugs}}
	</ul>
</div>
<div class="container">
	<div id="album" class="">

		<h2>{{ i18n.album }} - {{ name }}</h2>
		<p class="lead">{{ meta }}</p>

		{{#has_albums}}
		<h3>{{ i18n.albums }}</h3>
		<div>
			<ul class="grid"><!-- 
			{{#albums}}
				--><li class="grid-item grid-media">
					<div class="album">
						<a href="/albums/{{ slug }}"><img src="{{ cover }}" /></a>
						<h4>{{ name }}</h4>
					</div>
				</li><!--
			{{/albums}}
			--></ul>
		</div>
		{{/has_albums}}

		{{#has_photos}}
		<h3>{{ i18n.photos }}</h3>
		<div>
			<ul class="grid" id="photos">
			</ul>
			<div class="well" style="display:none;">
				<span>Loading...</span>
			</div>
		</div>
		{{/has_photos}}
	</div>
</div>