
@import "reset.less";
@import "grid.less";

h1 {
	margin: 20px auto;
	color: #5B83AD;
	width: @bodyWidth;
	border-bottom: 2px solid (#5B83AD + #444);
}

/* shame.css - http://csswizardry.com/2013/04/shame-css/ */
@import "shame.less";