body {
	background: url("../gfx/bg.png") repeat-x 40px 0;
	font-family: "Calibri", Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #303030;
}

.topbar {
	// stick to top
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;

	// decoration
	background-color: #FFF;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}
.topbar--navigation {
	// stick to top
	position: fixed;
	z-index: 1001;
	top: 0;
	right: 0;
	width: 100%;
	height: 80px;

	// click through to logo
	pointer-events: none;
}

.brand {
	z-index: 1002;
	width: 300px;
	max-width: 40%;
	height: 73px;
	float: left;
	margin: 0;
	padding: 0;
}
.brand > a {
	display: block;
	width: 100%;
	height: 73px;
	background: url("/images/logo.png") no-repeat center center;
	background-size: contain;
}

.hero {

	h2 {
		font-variant: small-caps;
		font-size: 32px;
		font-weight: normal;
	}
	p {
		.subcaption;
	}
}

h2 {
	font-family: "Calibri", Arial, sans-serif;;
	font-size: 24px;
	letter-spacing: 1px;
}
.columns p {
	font-family: "Calibri", Arial, sans-serif;;
	font-size: 16px;
	letter-spacing: 0px;
	line-height: 24px;
}

/**
 *
 */
.navigation {
	// allow click (turned off for titlebar--navigation)
	pointer-events: auto;

	list-style: none;
	margin: 0;
	padding: 4px 0;
	width: @bodyWidth;
	float: right;
	width: 400px;
	max-width: 60%;
	margin-top: 40px;
	margin-right: 10px;
	text-align: right;

	li {
		display: inline-block;
		margin-left: @gutter;
		padding: 2px 0px;
		text-shadow: 0 1px 0 #fff;
	}

	.navigation--link {
		font-size: 20px;
		font-weight: bold;
		text-decoration: none;
		color: black;
		/* animation */
		-webkit-transition: 0.2s;
		   -moz-transition: 0.2s;
		        transition: 0.2s;
	}
	.navigation--active,
	.navigation--link:hover {
		text-shadow: 0 0 8px rgba(0,0,0,0.9);
		color: #FFF;
	}
}
.navigation--sub {
	.navigation--link {
		font-size: 14px;
		color: #686868;
		-webkit-transition: 0s;
		   -moz-transition: 0s;
		        transition: 0s;
	}
	.navigation--link:hover {
		text-shadow: 0 0 0 #000;
		color: #000;
	}
}

.footer {
	padding: @gutter*0.5 0 0 0;
	color: #CDCDCD;
	background-color: #393939;
	background-image: url(../gfx/f_bg.png);
	background-repeat: no-repeat;
	background-position: 77% 0;

	.name {
		font-variant: small-caps;
		font-size: 16px;
	}
}

.footer-logo {
	//text-shadow: 0 0 10px rgba(0,0,0, 0.4);
	text-shadow: 0 1px 0 rgba(255,255,255,.4), 0 0 30px rgba(0,0,0,.15);
	display: block;
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	color: #97C54B;
	margin: 24px 0;
	font-weight: bold;
}



.X {

// Gallery header
.caption {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 18px;
	font-weight: normal;
	margin: @gutter 0 @gutter/2 0;
	text-align: center;
}

.gallery-item .caption,
.gallery-item .subcaption {
	text-shadow: 0px 0px 4px rgba(0,0,0,0.3);
	color: rgba(0,0,0,0.3);

	/* animation */
	-webkit-transition: 0.3s;
	   -moz-transition: 0.3s;
	        transition: 0.3s;
}
.gallery-item:hover .caption,
.gallery-item:hover .subcaption {
	color: #000;
	text-shadow: 0 0 0 rgba(0,0,0,0.5);
}
.gallery-item:hover {
	//background-color: @lightGray;
}

}
// Gallery header
.subcaption {
	font-size: 16px;
	font-weight: normal;
	margin: 0 0 @gutter 0;
	text-align: center;
	font-family: Georgia, serif;
	font-style: italic;
	font-weight: normal;
}


.arrow_box {
	position: relative;
}
.arrow_box:after {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #FFF;
	border-width: 60px;
	left: 90%;
	margin-left: -60px;
}

@media (max-width: @screenLap) {
	.topbar {
		height: 40px;
	}
	.topbar--navigation {
		position: relative;
		z-index: 100;
		width: 100%;
		height: auto;
	}
	.navigation {
		max-width: 100%;
		margin-top: -34px;
	}
	.brand {
		width: 100%;
		max-width: 100%;
		height: 36px;
		float: left;
		padding: 4px;
	}
	.brand > a {
		background-image: url("/images/logo-m.png");
		width: 282px;
		height: 36px;
		margin: 0 auto;
	}
}
