body {
	background: url("../gfx/bg.png") repeat-x 40px 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #505050;
}

.topbar {
	// stick to top
	position: fixed;
	z-index: 100;
	width: 100%;
	top: 0;
	left: 0;
	
	// decoration
//	background-color: @lightGray;
	background-color: #FFF;
	box-shadow: 2px 0 8px rgba(0, 0, 0, 0.5);
}
.hero {
	
	h2 {
		font-variant: small-caps;
		font-size: 32px;
		font-weight: normal;
	}
	p {
		.subcaption;
	}
}

/**
 *
 */
.navigation {
	list-style: none;
	margin: 0;
	padding: 4px 0;
	width: @bodyWidth;
	margin: 0 auto;

	li {
		display: inline-block;
		text-shadow: 0 1px 0 #fff;
		padding: 2px 10px;
	}
}

.footer {
	padding: @gutter 0 @gutter 0;
	background-color: @reniasGreen;
	// color: rgba(0,0,0,0.6);
	//background-color: #1D1D1D;
	color: #505050;
	text-shadow: 0px 1px 0px rgba(255,255,255,.7);
	
	background-image: linear-gradient(bottom, #97C54B 99%, rgb(51,162,0) 85%);
	background-image: -o-linear-gradient(bottom, #97C54B 99%, rgb(51,162,0) 85%);
	background-image: -moz-linear-gradient(bottom, #97C54B 99%, rgb(51,162,0) 85%);
	background-image: -webkit-linear-gradient(bottom, #97C54B 99%, rgb(51,162,0) 85%);
	background-image: -ms-linear-gradient(bottom, #97C54B 99%, rgb(51,162,0) 85%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.99, #97C54B), color-stop(0.96, rgb(177, 218, 118)));
	
	.name {
		font-variant: small-caps;
		font-size: 16px;
	}
}

.footer-logo {
	//text-shadow: 0 0 10px rgba(0,0,0, 0.4);
	text-shadow: 0 1px 0 rgba(255,255,255,.4), 0 0 30px rgba(0,0,0,.15);
	display: block;
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	color: #97C54B;
	margin: 14px 0;
	font-weight: bold;
}


// Gallery header
.caption {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 18px;
	font-weight: normal;
	margin: @gutter 0 @gutter/2 0;
	text-align: center;
}

.gallery-item .caption,
.gallery-item .subcaption {
	text-shadow: 0px 0px 4px rgba(0,0,0,0.3);
	color: rgba(0,0,0,0.3);
	
	/* animation */
	-webkit-transition: 0.3s;
	   -moz-transition: 0.3s;
	        transition: 0.3s;
}
.gallery-item:hover .caption,
.gallery-item:hover .subcaption {
	color: #000;
	text-shadow: 0 0 0 rgba(0,0,0,0.5);
}
.gallery-item:hover {
	//background-color: @lightGray;
}
// Gallery header
.subcaption {
	font-size: 16px;
	font-weight: normal;
	margin: 0 0 @gutter 0;
	text-align: center;
	font-family: Georgia, serif;
	font-style: italic;
	font-weight: normal;
}


.arrow_box {
	position: relative;
	z-index: 10;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #FFF;
	border-width: 55px;
	left: 10%;
	margin-left: -55px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #c2e1f5;
	border-width: 0px;
	left: 10%;
	margin-left: -36px;
}
